body {
    font-family:sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    margin:0;
}

table {
    margin: 10px;
}

td {
    border: 1px solid #ccc;
    padding: 6px 10px;
    text-align: center;
}

input{
    width: 80px;
    padding: 4px;
}

