.cuerpoTransporte, .cuerpoTransporte div {
    padding: 1px;
    /* border: 1px solid black; */
}
.cuerpoTransporte {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
    
}
.cont-all {
    display: flex;
    flex-direction: column;
}

.cont-trans-all {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cont-res-en {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}
.cont-table th {
    padding: 5px 13px;
}
.cont-table th p {
    margin: 0;  
}

.td-cost {
    font-size: 12px;
}
.td-asig {
    font-size: 16px;
    display: flex;
    flex-direction: row-reverse;
}

.td-ofer {
    background-color: rgba(229, 92, 18, 0.46);
}
.td-deman {
    background-color: rgba(223, 217, 52, 0.727);
}
.td-somb {
    background-color: rgba(133, 228, 227, 0.727);
}
.td-res {
    background-color: rgba(142, 170, 241, 0.866);
    font-weight: bold;
}
.td-addi {
    background-color: rgba(242, 134, 231, 0.727);
}
.td-ext {
    background-color: rgba(142, 170, 241, 0.866);
}

.tabla-resul {
    display: flex;
    justify-content: center;
}